.sideBar{
    flex: 0.2;
   height: 100vh;
    color: white;
    /*background: color #040404 !important;*/
    background-color: black;
    min-width: 230px;
    padding-left: 10px;
    padding-right: 10px;
}
.sidebar__logo{
    height: 40px;
    object-fit: contain;
    background-color: black;
    padding: 10px;
    margin-right: auto;
}
.sidebar__title{
   margin-left: 10px;
   padding: 5px;
   font-size: 12px;
}
.sideBar > hr{
    border: 1px solid #282828;
    width: 90%;
    margin: 10px auto;
}